<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6 <%= @bodyId %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7 <%= @bodyId %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 <%= @bodyId %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9 <%= @bodyId %>"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="<%= @bodyId %>"> <!--<![endif]-->
<head>
        <title>ECOFY &ndash; Tell Friends, Share the Fun</title>
        <link rel="icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">
        <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">

        <meta property="og:title" content="ECOFY is coming!"/>
        <meta property="og:description" content="To live life in a way that leaves behind a world worth living in."/>
        <meta property="og:image" content="<%= asset_path("refer/truman.png") %>"/>
        <meta property="og:url" content="<%= root_url %>"/>
        <meta name="google-site-verification" content="JHWlOxHDTPKKuCoSpmXkU6ZJWRyFoLR2cCbxg0oK6nU" />
        <% if @is_mobile %>
            <% if @bodyId == 'home' %>
                <meta name="viewport" content="width=1600" />
            <% else %>
                <meta name="viewport" content="width=1120" />
            <% end %>
        <% end %>
        <%= stylesheet_link_tag "application", :media => "all" %>
        <%= csrf_meta_tags %>
        <!-- Facebook Pixel Code -->
			<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');

fbq('init', '1845214475704993');
fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1845214475704993&ev=PageView&noscript=1"
/></noscript>
		<!-- End Facebook Pixel Code -->
</head>
<body id="<%= @bodyId %>">

<%= yield %>


</body>
</html>
